/* mobile view */

/* every page */
body {
    font-family: 'Segoe UI';
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/background.jpg);
    line-height: 1.25;
}

p, h1, h3, div {
    padding: 10px;
    margin: auto;
}

a {
    color: #483d8b;
    padding: 2px;
    text-decoration: none;
    /* display: inline; */
}

a:hover, a:focus {
    border: 1px #483d8b solid;
    border-radius: 3px;
}

p.credit {
    font-size: 0.5em;
}

footer {
    background: #fffef2;
    text-align: center;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    color: #483d8b;
    font-size: 20px;
    border: 2px dotted;
    font-family: "Playfair Display", serif;
}

header {
    background: #fffef2;
    border: 2px solid #005253;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 28px;
}

.box-color {
    color: #005253;
}

h1, h2{
    color: #483d8b;
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

h1.animate1 {
    position: relative;
    animation-name: rise-pulse;
    animation-duration: 4s;
}

@keyframes rise-pulse {
    0% {
        opacity: 0;
        top: 100px;
        font-size: 50px;
}
    50% {
        opacity: 1;
        top: 0;
        font-size: 50px;
    }
    75% {
        font-size: 60px; 
    }
    100% {
        font-size: 50px;
    }
}

@-webkit-keyframes rise-pulse {
    0% {
        opacity: 0;
        top: 100px;
        font-size: 50px;
}
    50% {
        opacity: 1;
        top: 0;
        font-size: 50px;
    }
    75% {
        font-size: 80px; 
    }
    100% {
        font-size: 50px;
    }
}

h2 {
    font-size: 30px;
}

#skip {
    position: absolute;
    left: 0px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

#skip:focus {
    top: 0px;
}

*:focus {
    border: 2px solid #483d8b;
}

/* nav bar */

#nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.nav-item {
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
}

nav ul {
    list-style: none;
}

.p {
    text-indent: 45px;
    margin: 10px;
    text-align: left;
    /* border: 2px solid black; */
}

.caption {
    font-size: 0.8em;
}

.author, .contact, .featured, .index, .recommended {
    color: #483d8b;
    border-left: #483d8b solid 2px;
    border-right: #483d8b solid 2px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    /* text-align: center; */
}

.author:visited, .contact:visited, .featured:visited, .index:visited, .recommended:visited {
    color: black;
}

/* author */

div.intro {
    border: 1px dotted; 
    padding: 5px;
    margin-top: 5px;
}

.capt {
    /* position: absolute;
    top: 10px; */
    background: #fffef2;
    padding: 5px;
    border: double 2px #005253;
    text-align: left;
}

.michelle, .dog, .glee {
    width: 60%;
    display: block;
    margin: 15px auto 15px auto;
    min-width: 300px;
}

 /* img.utah {
    min-width: 300px;
    width: 70%;
/* border: 10px red solid;  */


.flipcard {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 10px red solid;  */
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.card-container {
    width: 295px;
    height: 400px;
    /* border: 2px solid black; */
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease-in-out; 
    transform-style: preserve-3d;
    /* border: 2px red solid; */
}

.card-container:focus .card, .card-container:active .card, .card-container:hover .card, .card-container:focus-within .card {
    transform: rotateY(180deg);
}

.card figure {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden; */
}

.card .front {
    /* height: 350px; */
    border: #005253 2px solid;
    background-image: url('../images/utah.jpg');
    background-size: contain;
    /* backface-visibility: hidden; */
}

.card .back {
    background: #fffef2;
    border: #005253 2px dashed;
    transform: rotateY(180deg);
    text-align: center;
    margin: auto;
}



/* contact */

legend {
    color: #005253;
    font-size: 35px;
    text-align: left;
    font-family: "Playfair Display", serif;
}

.contact-f {
    /* text-transform: capitalize; */
    color: #005253;
    text-align: left;
    font-size: 25px;
}

div.radio {
    margin: 10px;
    padding: 5px;
}

input[type=text] {
    width: 80%;
}

/* featured -spotlight */

div.ghibli > img, div.common-flex > img, div.internet-flex > img {
    width: 80%;
    min-width: 300px;
    margin: auto;
    /* margin-bottom: 5px; */
    /* padding: 0;
    border: 2px double #005253; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

/* past work */

div.past-grid {
    margin: 10px auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    
}
/* div.gd-flex, div.t-flex {
    text-align: center;
    display: flex;
    flex-direction: column;
} */
img.gd-resize, img.t-resize {
    width: 60%;
    min-width: 300px;
    margin: 0 auto;
    padding: 0;
    border: 2px double #005253;
}

/* div.thrive, div.graphic-design {
    display: grid;
    grid-template-columns: 1fr;
} */

p.bottom {
    text-align: center;
    font-size: 30px;
    color: #005253;
}

/* recommended */

div.book, div.movie, div.show {
    border: 1.5px #005253 ridge;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-row-gap: 20px 10px; */
}


img.rec {
    width: 50%;
    padding: 0px;
    max-width: 300px;
    margin: auto;
    filter: brightness(70%) grayscale(50%);
    transition-property: filter, border, border-radius;
    /* transition-duration: 1s; */
}


img.rec:hover, img.rec:focus {
    filter: none;
    border: 2px outset black;
    border-radius: 5px;
    /* dashed dotted double groove inset outset ridge solid none */
}

p.hidden {
    display: none;
}

@media (prefers-reduced-motion) {
h1.animate1 {
    animation: none;
    color: #483d8b;
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
    }
}



/* tablet view */
@media (min-width: 650px) {

    .p {
        /* font-size: 1.5em; */
        /* background-color: red; */
        text-indent: 20px;
    }

    div.book, div.movie, div.show {
        grid-template-columns: 1fr 1fr;
        /* row-gap: 5px; */
    }

    h1.animate1 {
        text-align: left;
    }
    
    header {
        flex-direction: row;
    }
    .nav-item {
        justify-content: right;
    }

    #nav-menu {
        flex-direction: column;
        align-items: flex-end;
    }

    div.flex-michelle, div.flex-tesla, div.flex-glee {
        display: flex;
        flex-direction: row;
    }
    
    div.flex-michelle {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    div.flex-tesla {
        flex-direction: row-reverse;
    }
 
    .michelle, .glee {
        margin-left: 0;
        min-width: 350px;
    }
    .glee {
        min-width: 500px;
    }
    
    .caption {
        position: relative;
        text-align: center;
        margin-bottom: 80px;
    } 

    .capt {
        position: absolute;
        top: 10px; 
        background: #fffef2;
        padding: 5px;
        border: double 2px #005253;
        text-align: left;
    }

    div.past-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin: 10px auto;
        
    }

    .grid1 {
        grid-column: 1/3;
    }

    .grid2 {
        grid-column: 1/3;
        grid-row: 3/4;
    }

    div.grid-wr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    div.common-flex, div.internet-flex {
        display: flex;
        flex-direction: column;
        align-items: top;
    }

    div.common-flex {
        grid-column: 1/span 1;
    }

    p.flex-wr {
        font-size: 1em;
    }
}



/*desktop view*/
@media (min-width: 850px) {
    h1.animate1 {
        text-align: center;
    }

    header {
        flex-direction: column-reverse;
    }

    .nav-item {
        justify-content: right;
    }

    #nav-menu {
        flex-direction: row;
    }
    
    .michelle, .glee, .tesla {
        margin: 0 auto;
    }
    
    div.book, div.movie, div.show {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .gd-resize, .t-resize {
        display: flex;
    }

    input[type=text] {
        width: 50%;
        font-size: 1.5em;
    }

    /* parallax image */
    .travel-par {
        background-image: url('../images/parallax.JPG');
    }

    .travel-par2 {
        background-image: url('../images/parallax2.JPG');
    }

    .travel-par, .travel-par2 {
        min-height: 400px;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    p.hidden {
        display: block;
        margin: 10px auto;
    }

}