/* mobile view */

/* every page */
body {
    font-family: 'Segoe UI';
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(../images/background.jpg);
    line-height: 1.25;
}

p, h1, h3, div {
    padding: 10px;
    margin: auto;
}

a {
    color: #483d8b;
    padding: 2px;
    text-decoration: none;
    /* display: inline; */
}

a:hover, a:focus {
    border: 1px #483d8b solid;
    border-radius: 3px;
}

p.credit {
    font-size: 0.5em;
}

footer {
    background: #fffef2;
    text-align: center;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    color: #483d8b;
    font-size: 20px;
    border: 2px dotted;
    font-family: "Playfair Display", serif;
}

header {
    background: #fffef2;
    border: 2px solid #005253;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 28px;
}

.box-color {
    color: #005253;
}

h1, h2{
    color: #483d8b;
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

h1.animate1 {
    position: relative;
    animation-name: rise-pulse;
    animation-duration: 4s;
}

@keyframes rise-pulse {
    0% {
        opacity: 0;
        top: 100px;
        font-size: 50px;
}
    50% {
        opacity: 1;
        top: 0;
        font-size: 50px;
    }
    75% {
        font-size: 60px; 
    }
    100% {
        font-size: 50px;
    }
}

@-webkit-keyframes rise-pulse {
    0% {
        opacity: 0;
        top: 100px;
        font-size: 50px;
}
    50% {
        opacity: 1;
        top: 0;
        font-size: 50px;
    }
    75% {
        font-size: 80px; 
    }
    100% {
        font-size: 50px;
    }
}

h2 {
    font-size: 30px;
}

#skip {
    position: absolute;
    left: 0px;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

#skip:focus {
    top: 0px;
}

*:focus {
    border: 2px solid #483d8b;
}

/* nav bar */

#nav-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.nav-item {
    font-size: 1.2em;
    text-align: center;
    margin: 10px;
}

nav ul {
    list-style: none;
}

.p {
    text-indent: 45px;
    margin: 10px;
    text-align: left;
    /* border: 2px solid black; */
}

.caption {
    font-size: 0.8em;
}

.author, .contact, .featured, .index, .recommended {
    color: #483d8b;
    border-left: #483d8b solid 2px;
    border-right: #483d8b solid 2px;
    padding: 2px;
    text-decoration: none;
    text-transform: uppercase;
    /* text-align: center; */
}

.author:visited, .contact:visited, .featured:visited, .index:visited, .recommended:visited {
    color: black;
}

/* author */

div.intro {
    border: 1px dotted; 
    padding: 5px;
    margin-top: 5px;
}

.capt {
    /* position: absolute;
    top: 10px; */
    background: #fffef2;
    padding: 5px;
    border: double 2px #005253;
    text-align: left;
}

.michelle, .dog, .glee {
    width: 60%;
    display: block;
    margin: 15px auto 15px auto;
    min-width: 300px;
}



/* contact */

/* featured -spotlight */

div.ghibli > img, div.writing > img {
    width: 80%;
    max-width: 600px;
    margin: auto;
    /* margin-bottom: 5px; */
    /* padding: 0;
    border: 2px double #005253; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}


/* index -past work */
div.gd-flex > img, div.t-flex > img {
    width: 60%;
    min-width: 300px;
    margin: auto;
    margin-bottom: 5px;
    padding: 0;
    border: 2px double #005253;
}

/* div.thrive, div.graphic-design {
    display: grid;
    grid-template-columns: 1fr;
} */

p.bottom {
    text-align: center;
    font-size: 30px;
    color: #005253;
}

/* recommended */

div.book, div.movie, div.show {
    border: 1.5px #005253 ridge;
    padding: 10px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-row-gap: 20px 10px; */
}


img.rec {
    width: 50%;
    padding: 0px;
    max-width: 300px;
    margin: auto;
    filter: brightness(70%) grayscale(50%);
    transition-property: filter, border, border-radius;
    /* transition-duration: 1s; */
}


img.rec:hover, img.rec:focus {
    filter: none;
    border: 2px outset black;
    border-radius: 5px;
    /* dashed dotted double groove inset outset ridge solid none */
}

@media (prefers-reduced-motion) {
h1.animate1 {
    animation: none;
    color: #483d8b;
    font-size: 50px;
    text-align: center;
    font-family: "Playfair Display", serif;
    }
}



/* tablet view */
@media (min-width: 650px) {

    div.book, div.movie, div.show {
        grid-template-columns: 1fr 1fr;
        row-gap: 5px;
    }

    h1.animate1 {
        text-align: left;
    }
    
    header {
        flex-direction: row;
    }
    .nav-item {
        justify-content: right;
    }

    #nav-menu {
        flex-direction: column;
        align-items: flex-end;
    }

    div.flex-michelle, div.flex-tesla, div.flex-glee {
        display: flex;
        flex-direction: row;
    }
    
    div.flex-michelle {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    div.flex-tesla {
        flex-direction: row-reverse;
    }
 
    .michelle, .glee {
        margin-left: 0;
        min-width: 350px;
    }
    .glee {
        min-width: 500px;
    }
    
    .caption {
        position: relative;
        text-align: center;
        margin-bottom: 80px;
    } 

    .capt {
        position: absolute;
        top: 10px; 
        background: #fffef2;
        padding: 5px;
        border: double 2px #005253;
        text-align: left;
    }

    .p {
        text-indent: 20px;
    }

    div.thrive, div.graphic-design {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    div.gd-flex > img, div.t-flex > img {
        width: 40%;
    }

    /* div.gd-flex, div.t-flex {
        display: flex;
        flex-direction: column;
    } */
}



/*desktop view*/
@media (min-width: 850px) {
    h1.animate1 {
        text-align: center;
    }

    header {
        flex-direction: column-reverse;
    }

    .nav-item {
        justify-content: right;
    }

    #nav-menu {
        flex-direction: row;
    }
    
    .michelle, .glee, .tesla {
        margin: 0 auto;
    }
    
    div.book, div.movie, div.show {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    div > img {
        width: 80%;
    }
}